header {
  width: 100%;
  background: var(--primary-color);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    padding: 0 20px;
    max-width: 880px;
    margin: 0 auto;
    .d-flex {
      display: flex;
      padding: 10px 0;
      line-height: 5px;
      .brand {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: var(--white);
        font-weight: 500;
        border: 3px solid var(--white);
        font-size: 13px;
        outline: none;
        cursor: pointer;
      }
      ul {
        list-style-type: none;
        display: flex;
        margin-left: -15px;
        li {
          margin-right: 20px;
          letter-spacing: 0.5px;
          font-weight: 500;
          a {
            text-decoration: none;
            color: var(--white);
            font-size: 14px;
            padding-bottom: 18px;
            &:hover {
              color: var(--hover-link);
              border-bottom: 4px solid var(--border-color);
            }
          }
        }
        @media screen and (max-width: 375px) {
          margin-left: -28px;

          li {
            margin-right: 10px;
          }
        }
      }
    }
    .active-link {
      border-bottom: 4px solid var(--border-color);
    }

    @media screen and (max-width: 375px) {
      padding: 0 10px;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  @media screen and (max-width: 375px) {
    width: 48px;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #222;
}

input:checked + .slider:before {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222;
}

input:checked + .slider:before {
  transform: translateX(26px);

  @media screen and (max-width: 375px) {
    transform: translateX(18px);
  }
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
