<div class="card">

  <div class="card-header">

    <div class="card-header__content">
      <div class="content__title">
        <a class="content__title--link" [href]="item.url">{{item.title}}</a> 
        <span><a href="https://news.ycombinator.com/from?site={{item.domain}}">{{item.domain}}</a></span>
      </div>
      <div class="content__meta">
        <span class="points" *ngIf="item.points">{{item.points}} points by </span>
        <span class="author" *ngIf="item.user" [routerLink]="['/user', item.user]">{{item.user}}</span>
        <span class="time">{{item.time_ago}}</span>
        <span class="comments" [routerLink]="['/item']" [queryParams]="{id : item.id}">{{item.comments_count}}
          comments</span>
      </div>
    </div>

  </div>

</div>