.card {
  background: var(--card-background);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 30, 84, 0.12), 0 1px 3px rgba(0, 30, 84, 0.08);
  transition: all 0.15s ease;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 30, 84, 0.1), 0 3px 6px rgba(0, 30, 84, 0.08);
    color: var(--hover-link);
    text-decoration: none;
  }
  .card-header {
    .num {
      color: #666;
      font-weight: 500;
      font-size: 18px;
    }
    .card-header__content {
      margin-left: 15px;
      .content__title {
        font-weight: 500;
        font-size: 17px;
        color: var(--card-title-color);

        &--link {
          font-weight: 500;
          font-size: 17px;
          color: var(--card-title-color);
          margin-right: 5px;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        span {
          font-size: 13px;
          a {
            color: var(--meta-color);
            text-decoration: none;
            outline: none;
            font-weight: normal;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .content__meta {
        font-size: 12px;
        color: var(--meta-color);
        margin-top: 8px;
        .author,
        .time {
          &::after {
            content: "|";
            margin: 0 15px;
          }
        }
        .author,
        .comments {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .card {
    padding: 10px 10px 15px;

    .card-header {
      &__content {
        margin-left: 5px !important;
        .content__title {
          &--link {
            font-size: 15px !important;
          }
        }
      }
    }
  }
}
